.main_box {
    display: flex;
    background: #ededed;

    .main_layout {
        position: fixed;
        z-index: 1;
    }

    .main_container {
        width: 100%;
        display: flex;
        flex-direction: column;

        .main_content {
            position: relative;
            padding: 20px;
        }
    }

}