.layout_box {
    height: 100vh;
    box-shadow: 1px 0 1px 0 #ededed;
    background: #fff;

    .layout_logo {
        height: 70px;
        line-height: 70px;
        text-align: center;
        background:lightblue;
        color:#fff;
    }
}